.row
  .col-xs-12.col-md-offset-2.col-md-8
    form(name='loginForm')
      .form-group.row
        label.col-xs-2 Username
        .col-xs-10
          input.form-control(type='text' name='username' ng-model='username' required)
      .form-group.row
        label.col-xs-2 Password
        .col-xs-10
          input.form-control(type='password' name='password' ng-model='password' required)

      .form-group.row
        .col-xs-offset-2.col-xs-3
          button.btn.btn-block.btn-secondary(ui-sref='home.about') Cancel
        .col-xs-3
          button.btn.btn-block.btn-primary(ng-click='submit()' ng-disabled='!loginForm.$valid') Login

