.row
  .page-header
    h2.display-1 Random testing page for all non-sense
.row
  button.btn.btn-warning(ng-click='openModal()') Open Modal
  button.btn.btn-primary(ng-click='openSide()')
    i.fa.fa-bars
  button.btn.btn-success-outline(ng-click='toast()') Open the toast
  button.btn.btn-danger-outline(ng-click='toggleLogin()') Toggle Login
