.row.p-b-lg
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(
        ng-class="('home.about' | isState) ? 'active': ' '"
        ui-sref='home.about'
      ) About
    li.nav-item
      a.nav-link(
        ng-class="('home.rules' | isState) ? 'active': ' '"
        ui-sref='home.rules'
      ) Rules and Regulations

ui-view