.row
  .col-xs-12
    h3.display-1 Registration form
.row.text-center
  .col-xs-6.p-r-0.col-md-offset-2.col-md-4
    button.btn.btn-block.btn-secondary(ui-sref='home.about') Cancel
  .col-xs-6.p-l-0.col-md-4
    button.btn.btn-block.btn-primary(ui-sref='home.about') Submit