.row
  .page-header
    h2.display-1 Random testing page for all non-sense
.row
  button.btn.btn-warning(ng-click='openModal()') Open Modal
  button.btn.btn-success(ng-click='openSide()')
    i.fa.fa-bars
