.row.p-b-lg
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(
        ng-class="{active: isState('home.about')}"
        ui-sref='home.about'
      ) About
    li.nav-item
      a.nav-link(
        ng-class="{active: isState('home.rules')}"
        ui-sref='home.rules'
      ) Rules and Regulations

ui-view