doctype html
html
  head
    meta(charset='utf-8')
    title Shuttle Up 2015

    // Library scripts
    - var files1 = ['jquery/dist/jquery.min', 'bootstrap/dist/js/bootstrap.min']
    - var files2 = ['angular/angular.min', 'angular-ui-router/release/angular-ui-router.min', 'angular-animate/angular-animate.min']
    - var files3 = ['angular-bootstrap/ui-bootstrap-tpls.min', 'angular-aside/dist/js/angular-aside.min', 'angular-toastr/dist/angular-toastr.tpls.min']
    - var files = files1.concat(files2, files3)
    each file in files
      script(src='bower_components/'+file+'.js')

    // Library stylesheets
    - var css_files = ['bootstrap/dist/css/bootstrap.min', 'angular-aside/dist/css/angular-aside.min', 'angular-toastr/dist/angular-toastr.min']
    each file in css_files
      link(rel='stylesheet' href='bower_components/'+file+'.css')

    // CDN stylesheets and scripts
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

    // Local files
    - var core = ['app']

    - var controllers = ['main', 'test']
    - controllers.forEach( function(v,i,arr) { arr[i] = 'controllers/' + v })

    - var local = core.concat(controllers)

    - var css = ['style']
    each file in css
      link(rel='stylesheet' href='css/'+file+'.css')

    each file in local
      script(src='js/'+file+'.js')

  body(ng-app='shuttleApp' ng-controller='MainController' ng-class="{'p-t-lg': isLoggedIn}")
    .navbar.navbar-dark.bg-inverse.navbar-fixed-top.text-center(ng-if='isLoggedIn')
      button.navbar-toggler.pull-left(ng-click='openSideMenu()')
        i.fa.fa-bars
      a.navbar-brand Shuttle Up administrator

    .jumbotron.jumbotron-fluid.text-center
      h2.text-muted St. Luke's Youth Group presents
      h1.display-4 Shuttle Up 2015
      hr.jumbotron-hr
      p.lead.text-warning
        i.fa.fa-exclamation-triangle
        | &nbspThis site is a work in progress

    .container
      ui-view
