<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shuttle Up 2015</title>
    <!-- Library scripts-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="bower_components/underscore/underscore-min.js" defer></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <script src="bower_components/angular-animate/angular-animate.min.js" defer></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" defer></script>
    <script src="bower_components/angular-aside/dist/js/angular-aside.min.js" defer></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js" defer></script>
    <!-- Library stylesheets-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-aside/dist/css/angular-aside.min.css">
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css">
    <!-- CDN stylesheets and scripts-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <!-- Local files-->
    <script src="js/app.js" defer></script>
    <script src="js/controllers/main.js" defer></script>
    <script src="js/controllers/test.js" defer></script>
    <script src="js/controllers/home.js" defer></script>
    <script src="js/controllers/login.js" defer></script>
    <script src="js/services/core.js" defer></script>
    <script src="js/services/utilities.js" defer></script>
    <script src="js/directives/match.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app="shuttleApp" ng-controller="MainController" ng-class="{'p-t-lg': isLoggedIn()}">
    <div id="wrap">
      <div ng-if="isLoggedIn()" class="navbar navbar-dark bg-inverse navbar-fixed-top text-center">
        <button ng-click="openSideMenu()" class="navbar-toggler pull-left"><i class="fa fa-bars"></i></button>
        <!--
        ul.nav.navbar-nav.pull-right
          li.nav-item.dropdown
            span.nav-link.dropdown-toggle(data-toggle="dropdown") Logged in as {{ username() }}
            .dropdown-menu
              a.dropdown-item(ng-click='logout()') Logout
        
        -->
      </div>
      <div class="jumbotron jumbotron-fluid text-center">
        <h4 class="text-muted">St. Luke's Youth Group presents</h4>
        <h1 class="display-4">Shuttle Up 2015</h1>
        <hr class="jumbotron-hr">
        <h5 class="text-muted">Coming soon...</h5>
        <p class="text-warning"><i class="fa fa-exclamation-triangle"></i>&nbspThis site is a work in progress&nbsp<i class="fa fa-exclamation-triangle"></i></p>
        <button ng-if="&quot;home&quot; | includedByState" ui-sref="register" class="btn btn-primary btn-lg">Register Now</button>
      </div>
      <div class="container">
        <ui-view></ui-view>
      </div>
    </div>
    <div id="footer" class="bg-inverse text-center">
      <div class="container-fluid p-t-md">
        <div class="row text-muted">
          <div class="col-xs-12">
            <ul class="list-unstyled">
              <li>ICYM, St. Luke's Church, Defence Colony 2015</li>
              <li>Designed and maintained by&nbsp<a href="http://www.anishgeorge.org" target="_blank">Anish ‘basso’ George</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>