
<form name="matchForm" action="#">
  <fieldset class="form-group row hidden-xs-down m-b-0">
    <label class="col-sm-5 text-right text-muted form-control-label">{{ p1.parish }}</label>
    <label class="col-sm-offset-2 col-sm-5 text-left text-muted form-control-label">{{ p2.parish }}</label>
  </fieldset>
  <fieldset ng-disabled="played || !editting" class="form-group row text-center">
    <div class="col-sm-5 col-xs-8">
      <select ng-options="player.name group by player.parish for player in player_list" ng-model="p1" required="required" class="form-control c-select"></select>
    </div>
    <label class="col-xs-4 hidden-sm-up text-muted">{{ p1.parish }}</label>
    <label class="form-control-label col-sm-2 col-xs-12">vs</label>
    <div class="col-sm-5 col-xs-8">
      <select ng-options="player.name group by player.parish for player in filtered(p1)" ng-model="p2" required="required" class="form-control c-select"></select>
    </div>
    <label class="col-xs-4 hidden-sm-up text-muted">{{ p2.parish }}</label>
  </fieldset>
  <fieldset class="form-group row text-center">
    <div class="col-md-offset-2 col-md-4 col-xs-8">
      <input ng-disabled="played || !editting" type="datetime-local" ng-model="date" placeholder="Scheduled date time" required="required" class="form-control custom-date"/>
    </div>
    <!-- Tags-->
    <div ng-if="!editting &amp;&amp; !played" class="col-xs-2">
      <button ng-click="edit(true)" class="btn btn-info-outline btn-block"><i class="fa fa-pencil"></i></button>
    </div>
    <div ng-if="editting &amp;&amp; !played" class="col-xs-2">
      <button ng-click="submit()" class="btn btn-success-outline btn-block"><i class="fa fa-check"></i></button>
    </div>
    <div ng-if="editting &amp;&amp; !played" class="col-xs-2">
      <button ng-click="reset(); edit(false)" class="btn btn-warning-outline btn-block"><i class="fa fa-times"></i></button>
    </div>
    <div ng-if="!editting &amp;&amp; !played" class="col-xs-2">
      <button class="btn btn-primary-outline btn-block"><i class="fa fa-play"></i></button>
    </div>
  </fieldset>
</form>