.modal-header
  button.close(ng-click='$dismiss()')
    span &times
  h5.modal-title Administration Menu
.modal-body
  ul.nav.nav-pills.nav-stacked
    li.nav-item(
      ng-repeat='route in routes'
      ng-click='$dismiss()'
      ui-sref='{{ route[2] }}'
    )
      // ng-class='{active: isState(route[1])}'
      a.nav-link(
        ng-class="(route[1] | includedByState) ? 'active': ' '"
       ) {{ route[0] }}
