.modal-header
  button.close(ng-click='$dismiss()')
    span &times
  h5.modal-title Administration Menu
.modal-body
  ul.nav.nav-pills.nav-stacked
    li.nav-item(ng-click='$dismiss()')
      a.nav-link Admin Item 1
    li.nav-item(ng-click='$dismiss()')
      a.nav-link Admin Item 2