.modal-header
  h3.modal-title Sample header
.modal-body
  p This is a testing modal, hopefully, angular ui elements for bootstrap3 will work with v4.0.0-alpha
.modal-footer
  button.btn.btn-secondary-outline(ng-click='$dismiss("NoReason")') Cancel
  button.btn.btn-primary(ng-click='$close(true)') Submit
